p {
  text-decoration: none;
  font-size: x-large;
  color: #353637;
}

.main {
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid rgb(207, 207, 207);
  transition: all;
}
/* .main:hover {
  scale: 102%;
} */

.user:hover {
  cursor: pointer;
}
